@import "tailwindcss";

@keyframes slideInFromRight {
from {
    transform: translateX(100%);
}
to {
    transform: translateX(0);
}
}

:root {
    --background-image: linear-gradient(var(--color-slate-900), var(--color-blue-950));
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background-image: linear-gradient(red, yellow): */
/*     --foreground: #ededed; */
/*   } */
/* } */

.term-card {
    animation: slideInFromRight .3s ease-out forwards;
}

body {
    background-image: var(--background-image);
    background-attachment: fixed;
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
