/* This file solely exists for this animation */
@keyframes slideInFromRight {
from {
    transform: translateX(250%);
}
to {
    transform: translateX(0);
}
}

.term-card {
    transform: translateX(250%);
    animation: slideInFromRight .3s ease-out forwards;
    overflow: hidden;
    /* animation-delay: var(--animation-delay, 0s); */
}
